<h1>Edit article</h1>

<!-- passing @article with automagically create URL for submitting edited article form -->
<!-- tells Rails that we want this form to be submitted via PATCH for update -->

<!-- will fill in value with pre-existing information -->
<%= render 'form' %>


<%= link_to 'Back', articles_path %>

