<h1>This is the new article page</h1>

<!-- :article is the identifying object for form, tells form_for helper what this form is for -->
<!-- f is FormBuilder object -->
<!-- default action is the page that you are currently on -->
<!-- how does articles_path helper know where to go? -->

<%= render 'form' %>

<%= link_to 'back', articles_path %>

