<h1>Welcome to the Hack-Log</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<img src="http://vignette1.wikia.nocookie.net/epic-rap-battles-of-cartoons/images/9/9f/Doraemon.png/revision/latest?cb=20161020103841" alt="doraemon">

<!-- link_to built in view helper, creates hyperlink based on text to display and where to go -->
<%= link_to 'my blog', controller: 'articles' %>

<%= link_to 'new article', new_article_path %>
